* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bianco {
    color: white;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.grassetto {
    font-weight: bold;
}

header {
   background-image: url("img/background-header.png");
   background-position: bottom right;
   background-size: 65%;
   background-repeat: no-repeat;
   background-color: rgba(5, 33, 87, 0.877);
   height: 85vh;
   position: relative;
}

.intestazione {
    width: 80vw;
    margin: auto;
    padding-top: 20px;
}

.logo {
    float: left;
}

ul {
    padding-left: 5%;
    float: left;
    margin-top: 10px;
}

li{
    margin: 5px;
    display: inline-block;
}

.due_pulsanti {
    display: inline-block;
    float: right;
    margin-top: 7px;
}

.pulsante1 {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 100px;
    background-color:rgba(5, 33, 87, 0.877);
    border-radius: 5px;
    border-color: white;
    vertical-align: middle;
}

.pulsante2{
     background-color:rgb(150, 231, 68);
     height: 40px;
     width: 160px;
     border-radius: 5px;
     vertical-align: middle;
     border: hidden;
}

.pulsante3-4-5{
    background-color: rgb(150, 231, 68);
    height: 50px;
    width: 170px;
    border-radius: 5px;
    border: hidden;
}

.tutor {
    margin-right: 10px;
}

.titolo_pulsante {
    width: 40vw;
    position: absolute;
    top: 30vh;
}

.titolo {
    font-size: 55px;
}

.sottotitolo {
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
}

.sottotitolo1 {
            display: block;
            text-align: center;
            font-size: 25px;
}

.sottotitolo2 {
    display: block;
    color: gray;
    margin-top: 5px;
}

.grigio {
    background-color: rgb(207, 202, 202);
    height: 20vh;
    position: relative;
}
.verde {
    color: rgb(24, 163, 24);
    margin: auto;
    font-size: 25px;
}

.prima_sezione {
    width: 80vw;
    margin: auto;
}
.prima_sezione::after{
    display: table;
    content: "";
    clear: both;
}

.immagine_e_articolo {
    width: 100%;
    text-align: center;
}

.articolo {
    width: 25%;
   display: inline-block;
   margin: 20px;
   float: left;
}
.articolo-3 {
    float: right;
}

.immagine_articolo {
    height: 200px;
    display: block;
    margin: auto;
}

.articolo > hr {
    width: 10%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grigio_text {
    color: gray;
}
.text_center {
    text-align: center;
}
.margin {
    margin-left: 9%;
    margin-right: 8%;
}
.seconda_sezione {
    width: 70vw;
    margin: auto;
    margin-top: 40px;
}

.seconda_sezione > img {
    height: 60vh;
    float: left;
}
.quarto_articolo {
    float: right;
    width: 29vw;
}
.seconda_sezione::after{
    display: table;
    content: "";
    clear: both;
}
.quarto_articolo > .grassetto {
    font-size: 35px;
}

.spostato_giu > .grigio_text {
    font-size: 20px;
}
.spostato_giu {
    margin-top: 10px;
}

.sottotitolato {
    color: rgb(60, 117, 238);
    text-decoration: underline;
}

.grigio2 {
    height: 300px;
    background-color:rgb(207, 202, 202); 
}

.contenitore_footer {
    width: 80vw;
    margin: auto;
    height: 100%;
    position: relative;
    transform: none;
}

footer {
    position: relative;
    width: 100%;
}
.contenitore_footer > .grassetto {
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
}
.livello {
    padding-right: 60px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: rgb(207, 202, 202);
    margin-left: 20px;
    margin-right: 20px;
}
.footer_2 {
    float: right;
    margin-top: 5%;
    transform: translate(0, 70%);
}
.contenitore_footer::after{
    display: table;
    content: "";
    clear: both;
}
.pulsante-5 {
    display: block;
    width: 60px;
    position: fixed;
    right: 200px;
    bottom: 60px;
}